@charset "UTF-8";

@import url(font.css);
@import url(reset.css);
@import url(mediaQuery.css);

body {font-family: 'Paperozi';}


header .topset {
    display: flex; justify-content: space-between;
    max-width: 1420px; margin: 24px auto 0;
}
    header .topset .top1 {
        display: flex; gap: 50px;
        margin-left: 80px;
    }
    header .topset .top1 li a {
        display: flex; align-items: center; gap: 3px;
    }
    header .topset .top1 li:last-child a {
        gap: 6px;
    }


    header .topset .top2 {
        display: flex; gap: 50px;
    }
    header .topset .top2 li {
        display: flex; align-items: center;
    }

    header h1 img {
        display: block; margin: 15px auto 0;
        width: 83px;      /* 로고의 절대적인 크기 지정 */
        max-width: 100%;   /* 화면이 로고보다 작아질 경우 대비 */
        height: auto;      /* 비율 유지 */
        }

header nav .gnb {
    position: relative;
    display: flex; justify-content: center;
    margin-top: 35px;
}
    header nav .gnb > li {
        position: relative;
    }
        header nav .gnb > li > a {
            display: block;
            font-size: 18px; padding: 14px 50px;
        }
        header nav .gnb > li:hover > a {
            font-weight: 500;
        }
            header nav .gnb li .lnb {
                position: absolute; left: 50%; top: 50px; z-index: 10;
                transform: translateX(-50%);
                display: none;
                width: 200px; border-radius: 30px; transition: max-height 0.4s ease-in-out; overflow: hidden;
            }
            header nav .gnb li:hover .lnb {
                transition: 0.1s;
            }
            header nav .gnb li .lnb li a {
                display: block; text-align: center;
                padding: 15px; border-radius: 30px; background: linear-gradient(to bottom, #fff, 90%, #f7f7f7); font-size: 15px; border-bottom: 2px solid #f7f7f7;
            }
            header nav .gnb li .lnb li:last-child a {
                padding-bottom: 20px;
            }
            header nav .gnb li .lnb li:hover a {
                background: linear-gradient(to bottom, #F5DD79, 90%, #EFBF39); border-bottom: 2px solid #EFBF39; color: #AA4B09;
            }

.nav-indicator {
    position: absolute;
    bottom: 0px; /* 위치 조정 */
    left: 0;
    height: 13px;  /* 이미지 높이에 맞게 조정 */
    background: url('../images/gnb_on.png') no-repeat center; 
    background-size: contain;
    transition: all 0.3s ease-out; /* 이동을 부드럽게 만드는 핵심 */
    opacity: 0;
    pointer-events: none; /* 인디케이터가 마우스 이벤트를 방해하지 않도록 설정 */
    z-index: 1;
}

/* 부모 요소: 배지의 기준점이 됨 */
.cart-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; /* 텍스트(장바구니)와의 간격 */
}

/* 부모 요소: 배지의 기준점이 됨 */
.cart-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; /* 텍스트(장바구니)와의 간격 */
}
/* 주황색 동그라미 배지 */
.cart-count {
    position: absolute;
    top: -5px;    /* 위쪽 위치 미세 조정 */
    right: -8px;  /* 오른쪽 위치 미세 조정 */
    
    width: 15px;
    height: 15px;
    background-color: #E18601; /* 주황색 */
    color: white;
    
    border-radius: 50%; /* 동그랗게 */
    font-size: 10px;    /* 작은 글씨 */
    font-weight: 600;
    line-height: 15px;  /* 세로 중앙 정렬 */
    text-align: center; /* 가로 중앙 정렬 */
    
    display: none;
    align-items: center;
    justify-content: center;
}

.hero {
    position: relative;
    margin: 25px auto 0;
}
.swiper-slide {
    background: none !important;
}
.swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 590px) !important;
    }
    .swiper-pagination-bullet {
    background: #763B13 !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
    }
    .swiper-pagination-bullet-active-main {
    background: #E18601 !important;
    }
.hero .textbox {
    position: absolute; top: 25%; right: 14%; z-index: 5;
    display: flex; flex-direction: column; align-items: end;
}
    .hero .textbox p {
        font-size: 22px; margin-top: 20px;
    }
    .hero .textbox p.date {
        font-size: 20px; font-weight: 500; color: #fff;
    }
    .hero .textbox h2 {
        font-size: 60px; font-weight: 400;
    }
    .hero .textbox h2 span {
        font-weight: 600; color: #fff;
    }
    .hero .textbox .btn_go a {
        display: flex; justify-content: center; align-items: center; gap: 15px;
        width: 180px; padding: 20px; color: #fff; border-radius: 40px; font-size: 18px; margin-top: 38px;
        border: 3px solid #fff;
    }
    .hero .textbox .btn_go:hover a img {
        animation: btnAni .3s;
    }
    @keyframes btnAni {
        0% {
            margin-left: 0;
        }
        50% {
            margin-left: 10px;
        }
        80% {
            margin-left: -2px;
        }
        100% {
            margin-left: 0;
        }
    }
    
section .section1 {
    margin-top: 86px;
}
section .section1 h2 {
    font-size: 32px; margin-bottom: 54px; margin-left: 15%; font-weight: 600;
}
section .section1 .contentBox {
    display: flex; gap: 90px; justify-content: center;
}
    section .section1 .content h3 {
        font-size: 26px; font-weight: 600;
    }
    section .section1 .content div {
        display: flex; justify-content: space-between; align-items: center;
        margin-bottom: 15px; padding-bottom: 14px; border-bottom: 1px solid #EFBF39;
    }
    section .section1 .content div > span {
        color: #848484; font-size: 14px;
    }
    section .section1 .content div > span a {
        padding: 8px 0;
    }
        section .section1 .content .list li a {
            display: flex; justify-content: space-between; gap: 5px; align-items: center;
        }
        section .section1 .content .list li a:hover span:first-child {
            text-decoration: underline;
        }
        section .section1 .content .list li a span:first-child {
            font-size: 17px; font-weight: 400; flex-grow: 1;
            text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
            line-height: 35px; width: 276px; color: #474747;
        }
        section .section1 .content .list li a span.date {
            flex-grow: 0;
            font-size: 14px; font-weight: 400; color: #848484;
        }

section .section2 {
    position: relative;
    margin-top: 200px;
}
    section .section2 h2 {
        text-align: center;
        font-size: 32px; font-weight: 600; margin-bottom: 50px;
    }
    section .section2 .contentBox {
        display: flex; gap: 100px; justify-content: center;
    }
    section .section2 .contentBox > a .textbox {
        max-width: 381px; height: 212px; background: #F2EEED;
    }
    section .section2 > img {
        position: absolute; left: 0; top: 126px; z-index: -1;
        transform: translateX(-75%);
    }
    section .section2 .contentBox .textbox > div {
        padding: 28px 33px; font-size: 18px;
    }
    section .section2 .contentBox .textbox h3 {
        font-size: 22px; font-weight: 600;
    }
    section .section2 .contentBox .textbox p {
        margin-top: 25px; color: #878787; font-size: 16px; font-weight: 400;
    }
    section .section2 .contentBox .textbox span {
        display: block;
        margin-top: 35px;
    }
    section .section2 > a {
        display: flex; justify-content: center; align-items: center; gap: 17px;
        font-size: 15px; font-weight: 500; color: #848484;
        margin: 53px auto 0;
    }